.panel-card {
    text-align: center;
    margin: 15px;

    .panel-body {
        .card-number-big {
            font-size: 5rem;
            line-height: 1;
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }
    }

    .panel-footer {

    }
}