.form-contact {
	max-width: 500px;
	background: white;
	margin: auto;

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	textarea {
		width: 100%;
		border: 1px solid $page-header-border-color;
		background: #FFF;
		margin: 0 0 10px;
		padding: 10px;
		transition: all 250ms;

		&:hover,
		&:focus {
			outline: 0;
			border: 1px solid $color-case;
		}
	}

	textarea {
		height: 100px;
		max-width: 100%;
		resize: none;
	}

	button {
		width: 100%;
		border: none;
		background: $color-1;
		color: $color-white;
		padding: 10px;
		font-weight: 500;
		display: block;
		@include hoverButton($color-1);
		transition: all 250ms;

		&:hover {
			color: $color-white;
		}
	}

	.alert {
		color: $color-white;
		padding: 15px;
		margin-bottom: 30px;

		p {
			margin-bottom: 0;
		}

		&.alert-danger {
			background-color: $color-7;
		}

		&.alert-success {
			background-color: $color-1;
		}
	}
}