.page-dispositifs {
	.filters-dispositifs {
		background-color: $color-3;
		color: $color-white;
		padding: 30px;
		margin: 30px -30px;

		h4 {
			margin-top: 0;
			margin-bottom: 15px;
		}

		.filter-items {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.filter-item {
			width: 20%;
		}

		.form-action {
			margin-top: 20px;
			display: flex;
			align-items: stretch;
			justify-content: center;

			.reset-filters,
			.submit-filters {
				display: block;
				margin: 0 15px;
				//font-size: 1.2em;
				padding: 10px 50px;
				border: none;
				outline: none;
				border-radius: 2px;
				transition: all 250ms ease-in-out;
			}

			.reset-filters {
				background-color: $color-3;
				border: 1px solid $color-white;
				color: $color-white;
				@include hoverButton($color-3);
			}

			.submit-filters {
				background-color: $color-1;
				color: $color-white;
				@include hoverButton($color-1);
			}
		}
	}

	.content-dispositifs {
		.page-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 0;
		}

		.page-title {
			h3 {
				margin-top: 0;
			}
		}

		.page-meta {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.result-count {
				strong {
					color: $color-1;
				}
			}

			.helper-links {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-left: 50px;
			}
		}

		.dispositif-items {
			margin-bottom: 4em;
		}

		.dispositif-item,
		.dispositifs-items-header {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			border-bottom: 1px solid $page-header-border-color;

			.beneficiary {
				width: 20%;
				padding: 30px 15px;
			}

			.infos {
				width: 65%;
				border-left: 1px solid $page-header-border-color;
				border-right: 1px solid $page-header-border-color;
			}

			.closing-date {
				width: 15%;
				padding: 30px 15px;
			}
		}

		.dispositifs-items-header {
			font-weight: 500;
			font-size: 1.2em;
			text-align: center;

			.infos {
				padding: 30px;
			}
		}

		.dispositifs-empty {
			padding: 15px 30px;
			background-color: $color-6;
			color: $color-white;
			text-align: center;
		}

		.dispositif-item {
			.beneficiary {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-weight: 500;
			}

			.infos {
				padding: 15px 15px 0;

				.title {
					margin-bottom: 15px;

					a {
						@include linkInherit;
					}
				}

				.thematic {
					font-size: 1.15em;
					font-family: $headings-font-family;
					color: $color-1;
					font-weight: 700;
					text-align: right;
				}

				.common-data-wrapper {
					margin-top: 15px;

					.common-data {
						& + .common-data {
							margin-top: 5px;
						}
					}
				}

				.common-data {
					display: flex;
					align-items: flex-start;

					.label {
						font-weight: 500;
						width: 150px;
					}

					.items {
						p {
							margin: 0;
						}
					}
				}
				
				.see-record {
					float: right;
					padding: 10px 15px;
					margin-right: -16px;
					margin-bottom: -1px;
					@include linkInherit;
					background-color: $color-1;
					color: $color-white;
					transition: all 250ms ease-in-out;

					@include hoverButton($color-1);

					&:hover {
						color: $color-white;
					}
				}

				.external-link {
					.fa {
						margin-left: 5px;
					}
				}
			}

			.closing-date {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}