.page-dispositifs {
    h2 {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        a {
            font-size: 1.8rem;
            font-weight: 500;
        }

        @include mobile {
            display: block;

            span {
                display: block;
            }
        }
    }

    .content-dispositifs {
        .page-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-top: 20px;
        }

        .page-title {
            h3 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .page-meta {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .result-count {
                strong {
                    color: $color-1;
                }
            }

            .helper-links {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-left: 50px;
            }

            .export-results {
                margin-left: 10px;
            }

            //.export-results-excel {
            //	margin: 0 10px;
            //}
        }

        @include mobile {
            .page-header {
                display: block;
            }

            .page-title {
                h3 {
                    margin-bottom: 11px;
                }
            }

            .page-meta {
                display: block;

                .result-count {
                    margin-bottom: 15px;
                }

                .helper-links {
                    margin-left: 0;
                    justify-content: flex-start;
                }
            }
        }
    }
}

.titre-filtre {
    font-weight: bold;
}


.filters-dispositifs {
    background-color: $gris-clair;
    color: $text-color;
    padding: 20px;
    text-align: left;
    padding: 20px;


    h4 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .row-filters {
        display: block;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px;

        .filter-item .selectric-items {
            li.selected{
                background-color: $color-1;
                color: white;
            }
        }

        .filter-item .selectric-wrapper .selectric
        {
            border: none;
        }

        .filter-item .selectric-wrapper .selectric .label .selected {
            background-color: $color-1;
            color: white;
            padding: 4px;
            -moz-border-radius:10px 10px;
            -webkit-border-radius:10px 10px;
            border-radius:10px 10px;
            border: none;

        }
    }

    .filter-item-search-input {
        width: 100%;
        padding: 0 5px;

        input {
            width: 100%;
            border: 1px solid $color-gray-1;
            color: $text-color;
            font-weight: 500;
            padding: 7px 10px;
        }
    }

    .filter-item {
        width: 100%;
        padding: 0 5px;
        margin-top: 10px;

        input {
            width: 100%;
            border: 1px solid $color-gray-1;
            color: $text-color;
            font-weight: 500;
            padding: 7px 10px;
        }

        &.filter-item-checkbox {
            width: auto;
            align-self: center;
            @include customCheckbox();

            > label {
                padding: 4px 15px;
                border: 1px solid $color-gray-1;
                display: flex;
                align-items: center;
                font-weight: 500;
                cursor: pointer;
                background: $color-white;

                .text {
                    color: lighten($text-color, 30%);
                    margin-right: 15px;
                }
            }
        }
    }

    .form-action {
        margin-top: 30px;
        display: flex;
        align-items: stretch;
        justify-content: left;

        .reset-filters,
        .submit-filters {
            display: block;
            margin: 0 15px;
            //font-size: 1.2em;
            padding: 5px 10px;
            border: none;
            outline: none;
            border-radius: 2px;
            transition: all 250ms ease-in-out;
        }

        .reset-filters {
            background-color: $gris-clair;
            border: 1px solid $text-color;
            color: $text-color;
            @include hoverButton($gris-clair);
        }

        .submit-filters {
            background-color: $color-1;
            color: $color-white;
            font-weight: 500;
            @include hoverButton($color-1);
        }
    }

    .helps {
        margin-top: 30px;
        font-size: .85em;
        font-style: italic;
    }




    @include mobile {
        margin: 30px 0px;
        padding: 15px;

        .row-filters {
            flex-wrap: wrap;
            margin-bottom: 0;
        }

        .filter-item {
            width: 100%;
            margin-bottom: 5px;
        }

        .form-action {
            flex-wrap: wrap-reverse;

            .submit-filters,
            .reset-filters {
                width: 100%;
                padding: 10px;
                margin: 0;
            }

            .submit-filters {
                margin-bottom: 10px;
            }
        }
    }
}

.dispositif-items {
    margin-bottom: 4em;
}

.dispositif-item,
.dispositifs-items-header {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid $tab-border-color;

    .first {
        width: 20%;
        padding: 30px 15px;
    }
    .middle {
        width: 65%;
        border-left: 1px solid $tab-border-color;
        border-right: 1px solid $tab-border-color;

        &.full {
            width: 80%;
        }

        &.no-border-right {
            border-right: none;
        }
    }
    .last {
        width: 15%;
        padding: 30px 15px;
    }

    @include mobile {
        .middle {
            width: 100%;
            //border: none;

            &.full {
                width: 100%;
            }
        }
    }
}

.dispositifs-items-header {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;

    .first,
    .last,
    .middle {
        padding: 30px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.slim {
        .first,
        .last,
        .middle {
            padding: 15px;
        }
    }
}

.dispositifs-empty {
    padding: 15px 30px;
    background-color: $color-6;
    color: $text-color;
    text-align: center;

    &.no-bck {
        background-color: transparent;
        color: $text-color;
    }
}

.dispositif-item {
    .first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 500;
        position: relative;

        &.thematic {
            justify-content: flex-start;
        }
    }

    .middle {
        padding: 20px 15px 45px;
        position: relative;

        .title {
            margin-bottom: 15px;

            a {
                @include linkInherit;
            }
        }

        .thematic {
            font-size: 1.15em;
            font-family: $headings-font-family;
            color: $color-1;
            font-weight: 700;
            text-align: right;
            margin-bottom: 15px;
        }

        .common-data-wrapper {
            margin-top: 15px;

            .common-data {
                & + .common-data {
                    margin-top: 5px;
                }
            }
        }

        .common-data {
            display: flex;
            align-items: flex-start;

            .label {
                font-weight: 500;
                width: 150px;
            }

            .items {
                p {
                    margin: 0;
                }
            }
        }

        .see-record {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: -1px;
            margin-bottom: -1px;
            @include linkInherit;
            background-color: $color-1;
            color: $color-white;
            transition: all 250ms ease-in-out;
            font-weight: 500;
            padding: 5px 10px;
            font-size: 1.2rem;

            @include hoverButton($color-1);

            &:hover {
                color: $color-white;
            }
        }

        .external-link {
            .fa {
                margin-left: 5px;
            }
        }

        @include mobile {
            padding: 15px;

            .common-data {
                display: block;

                .label {
                    width: auto;
                }
            }

            .see-record {
                position: relative;
                margin: 15px 0 0;
                text-align: center;
                display: block;
            }
        }
    }

    .last {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        position: relative;
    }

    .last-modified {
        position: absolute;
        top: 10px;
        right: 0;
        text-align: right;
        font-weight: 300;
        line-height: 1.3;
        color: darken($color-gray-1, 15%);

        &.visible-xs {
            position: relative;
            margin-bottom: 25px;
            margin-top: -15px;
        }
    }

    @include mobile {
        .first {
            &.thematic {
                width: 100%;
                padding: 30px;
                text-align: center;
                font-size: 1.2em;
            }
        }

        .middle {
            &.full {
                border: none;
                padding: 0;
            }
        }
    }
}

.search-items {
    .middle.full {
        width: 100%;
    }
}

#dispositifs-filters-button {
    margin-top: 10px;
    margin-left: 20%;
    display: inline-flex;
    align-items: center;
    background-color: $gris-clair;
    color: $text-color;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    @include hoverButton($gris-clair, $text-color);

    > span {
        padding-right: 10px;
    }

    .fa-plus {
        display: inline-block;
    }

    .fa-minus {
        display: none;
    }

    &.opened {
        .fa-plus {
            display: none;
        }

        .fa-minus {
            display: inline-block;
        }
    }
}

#dispositifs-filters-container {
    display: none;
}