.page-dispositif-unique {
	.content {
		display: flex;
		align-items: flex-start;
		margin-top: 50px;
	}
	.first {
		width: 70%;
		padding-right: 30px;
		border-right: 1px solid $page-header-border-color;
	}

	.last {
		width: 30%;
		padding-left: 30px;
	}

	.page-item {
		margin-bottom: 30px;
	}

	.page-header {
		margin-top: 0;

		h3 {
			margin-top: 0;
		}
	}

	.item-content {
		.description {
			margin-top: 15px;

			.strong {
				font-weight: bold;
			}
		}
	}

	@include mobile {
		.content {
			flex-wrap: wrap;
		}

		.first,
		.last {
			width: 100%;
		}

		.last {
			order: 1;
			padding: 0;
		}

		.first {
			order: 2;
			border-right: none;
			padding: 0;
		}
	}
}

#retour {
		background-color: $gris-clair;
		color: $text-color;
		font-weight: 500;

		display: inline-block;
		font-size: 1.2em;
		padding: 10px 10px;
		border: none;
		outline: none;
		border-radius: 2px;
		transition: all 250ms ease-in-out;

		@include hoverButton($gris-clair);
		&:hover {
				color: $text-color;
		}
}
