.filters-wrapper {
	margin: 30px auto;
	max-width: 900px;

	.filters-step {
		margin: 30px 0;

		.title {
			margin: 0;
			padding: 10px 0;
			font-size: 1.2em;
			line-height: 1.4em;
		}

		.filters-items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;
			margin: 0;
			padding: 0;
			list-style-type: none;

			.filter-item {
				width: 20%;
				height: 100px;

				a {
					padding: 15px 4px;
					margin: 3px;
					height: calc(100% - 6px);
					text-align: center;
					background-color: $color-gray-1;
					border: 1px solid rgba($text-color, 0.1);
					border-radius: 5px;
					font-size: 1.15em;
					font-weight: 500;
					line-height: 1.3em;
					color: $text-color;
					text-decoration: none;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover,
					&.active {
						background-color: rgba($text-color, 0.2);
					}
				}
			}
		}
	}

	.filters-submit-button {
		display: block;
		margin: 30px auto;
		background-color: $color-1;
		color: $color-white;
		font-size: 1.2em;
		padding: 10px 50px;
		border: none;
		outline: none;
		border-radius: 2px;
		transition: all 250ms ease-in-out;

		@include hoverButton($color-1);

		&:hover {
			color: $color-white;
		}
	}
}

.select-container {
	position: relative;
	width: 300px;
	cursor: pointer;

	.arr {
		background: transparent;
		bottom: 5px;
		position: absolute;
		right: 15px;
		top: 5px;
		width: 20px;
		pointer-events: none;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -4px;
			pointer-events: none;
			border-top: 10px solid $color-4;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 4px;
			margin-top: -4px;
			pointer-events: none;
			border-top: 6px solid $color-gray-1;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
	}

	select {
		border: 1px solid rgba($text-color, 0.1);
		background-color: $color-gray-1;
		width: 100%;
		padding: 10px 15px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		font-weight: 500;
		cursor: pointer;
	}
}