.principal {
    font-weight: bold;
    font-size: 1.4em;
    font-family: Roboto, sans-serif;
}

.sous-titre {
    font-weight: normal;
    font-size: 1.2em;
}

.filters-wrapper {
    margin: 30px auto;
    max-width: 900px;

    .filters-step {
        margin: 30px 0;

        .title-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .title {
            margin: 0;
            padding: 10px 0;
            font-size: 1.2em;
            line-height: 1.4em;
        }

        .filters-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            margin: 0;
            padding: 0;
            list-style-type: none;

            .filter-item {
                width: 20%;
                height: 100px;

                a {
                    padding: 15px 4px;
                    margin: 3px;
                    height: calc(100% - 6px);
                    text-align: center;
                    background-color: $color-gray-1;
                    border: 1px solid rgba($text-color, 0.1);
                    border-radius: 5px;
                    font-size: 1.15em;
                    font-weight: 500;
                    line-height: 1.3em;
                    color: $text-color;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 250ms;

                    &:hover,
                    &.active {
                        background-color: $color-9;
                        color: $color-white;
                    }
                }

                @include mobile {
                    width: calc(100% / 3);

                    a {
                        font-size: .85em;
                    }
                }
            }
        }
    }

    .step-perimeter-container {
        display: flex;
        align-items: center;

        .buttons {
            display: flex;
        }

        @include tablet {
            display: block;

            .buttons {
                margin-top: 15px;
            }
        }
    }

    .select-all,
    .select-none {
        display: block;
        padding: 8px 15px;
        border: none;
        outline: none;
        border-radius: 2px;
        transition: all 250ms ease-in-out;
        margin-left: -1px;
        font-weight: normal;

        background-color: transparent;
        border: 1px solid $page-header-border-color;

        &:hover {
            background-color: $page-header-border-color;
        }

        @include tablet {
            width: auto;
            margin-right: 15px;
        }
    }
}
.home-news {
    text-align: center;
}

.submit-button {
    display: block;
    margin: 30px auto;
    background-color: $color-1;
    color: $color-white;
    font-size: 1.2em;
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 2px;
    transition: all 250ms ease-in-out;
    font-weight: 500;

    @include hoverButton($color-1);

    &:hover {
        color: $color-white;
    }
}

.page-container {
    .page-home {
        margin-top: 75px;

        &:first-child {
            margin-top: 50px;
        }

        &.quick-search-container {
            margin: 80px 0;
        }

        .websites-container {
            h4 {
                margin-bottom: 5px;
            }

            ul {
                margin-bottom: 30px;

                li {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.news-item {
    .middle {
        .item-wrapper {
            margin-bottom: 10px;
            border-bottom: 1px solid $tab-border-color;
            padding-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }

            .title {
                margin-bottom: 5px;
            }

            .closing-date,
            .perimeters {
                font-size: 1em;
                font-weight: 500;
                margin-bottom: 0;
            }

            .objectives {
                margin-top: 10px;
            }
        }
    }
}

.quick-search {
    margin-top: 40px;

    .search-container__form {
        position: relative;
        padding-left: 20%;

    }

    p {
        margin-top: 20px;
    }

    input[type="text"] {
        padding: 15px 75px 15px 15px;
        border: thin solid $color-case;
        background: transparent;
        width: 70%;
        font-size: 18px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        &::-moz-placeholder {
            color: $color-3;
            font-weight: 500;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: $color-3;
            font-weight: 500;
        }

        &::-webkit-input-placeholder {
            color: $color-3;
            font-weight: 500;
        }


    }

    button[type="submit"] {
        background: $color-1;
        font-size: 18px;
        border: none;
        color: white;
        fill: #379683;
        vertical-align: middle;
        padding: 15px;
        position: absolute;
        right: 20%;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;



        svg {
            width: 20px;
            height: 20px;
            color: inherit;
        }

    > span {
        padding-left: 10px;
    }
    }
}