footer {
	background-color: $color-2;
	color: $color-white;

	.footer {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-top: 45px;
		padding-bottom: 45px;

		.footer-first,
		.footer-middle,
		.footer-last {
			padding-left: 15px;
			padding-right: 15px;
			width: 33%;
		}

		.svg-marianne {
			width: 150px;
			display: block;
		}

		.logo-image {
			width: 100px;
		}

		.title,
		.brand {
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 0 0 10px 0;
		}

		.title {
			border-bottom: thin solid $color-gray-1;
			padding: 15px 0;
		}

		.brand {
			font-family: $headings-font-family;
			font-weight: $headings-font-weight;
			margin-top: 15px;
		}

		.sitemap {
			//font-size: 1.2em;
			//line-height: 1.2em;
			//font-weight: 500;
			margin-top: 15px;

			.sitemap-menu,
			.submenu {
				padding: 0;
				list-style: none;
			}

			.submenu {
				margin-left: 15px;
				margin-top: 5px;
			}

			.sitemap-menu {
				margin: 0;

				li {
					margin-bottom: 5px;
				}

				a {
					@include linkInherit;
					padding: 5px;
				}
			}
		}

		@include mobile {
			padding-top: 15px;
			padding-bottom: 15px;

			.footer-first,
			.footer-middle,
			.footer-last {
				width: 100%;
			}
		}
	}

	.reseaux {
		background-color: $text-color;
		color: $color-white;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			align-items: stretch;
			justify-content: center;
			flex-wrap: wrap;

			li {
				width: 25%;

				@include mobile {
					width: 100%;
				}
			}
		}

		a {
			@include linkInherit;
			padding: 15px;
			display: block;
			text-align: center;
			font-weight: 500;
			font-size: 1.2em;
			line-height: 1.2em;
		}
	}
}
