header {
    background-color: $color-case;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    border-bottom: thin solid white;

    .container {
        position: relative;
    }

    .link-title {
        @include linkInherit;

        &:before {
            content: '';
            display: block;
            width: 100px;
            height: 3px;
            background: url('/images/drapeau-liseret.png') no-repeat left center;
            background-size: 100px 3px;
            margin: auto auto 15px;
        }
    }

    h1 {
        font-size: 1.9em;
        font-weight: 600;
        padding-bottom: 10px;
        max-width: 600px;
        margin: 0 auto;
        font-family: Roboto, sans-serif;
    }

    .description {
        margin-bottom: 0;
        font-style: italic;
        font-size: 1.5em;
    }

    .link-marianne {
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        align-items: center;
        @include linkInherit;

        svg {
            width: 100px;
        }

        .logo-image {
            width: 80px;
            margin-right: 2px;
        }

        .title {
            text-align: left;
            font-size: 1.2em;
            line-height: 1.2em;
            font-weight: 500;
            margin-left: 10px;
        }
    }

    @media(max-width: 1200px) {
        h1 {
            max-width: 550px;
        }
    }

    @media(max-width: 1024px) {
        h1 {
            max-width: 450px;
            padding-bottom: 25px;
            font-size: 2em;
            letter-spacing: 1.5px;
        }
    }

    @include tablet {
        h1,
        .description {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            padding-bottom: 10px;
        }

        .link-marianne .logo-image {
            display: none;
        }
    }

    @include mobile {
        padding-left: 0;
        padding-right: 0;

        h1,
        .description {
            max-width: 400px;
        }

        .description {
            font-size: 1.2em;
        }

        .link-marianne {
            top: -30px;

            .logo-image {
                width: 50px;
            }
        }
    }
}