header {
	background-color: $color-1;
	color: $color-white;
	text-align: center;
	padding: 30px 15px;
	border-bottom: thin solid $body-bg;
	
	.container {
		position: relative;
	}
	
	.link-title {
		@include linkInherit;

		&:before {
			content: '';
			display: block;
			width: 100px;
			height: 3px;
			background: url('/images/drapeau-liseret.png') no-repeat left center;
			background-size: 100px 3px;
			margin: auto auto 15px;
		}
	}

	h1 {
		margin: 0;
		font-size: 4.4em;
		padding-bottom: 15px;
	}

	.description {
		margin-bottom: 0;
		font-style: italic;
		font-size: 1.5em;
	}

	.link-marianne {
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		align-items: center;
		@include linkInherit;

		svg {
			width: 100px;
		}

		.logo-image {
			width: 100px;
		}
		
		.title {
			text-align: left;
			font-size: 1.2em;
			line-height: 1.2em;
			font-weight: 500;
			margin-left: 10px;
		}
	}
}