.menu-nav {
    background-color: $color-1;

    .menu-nav-container {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    .menu-list {
        margin: -1px -15px 0 -15px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: $color-white;

        @include mobile {
            border-top: thin solid $body-bg;
            width: calc(100% + 30px);
            order: 2;
        }
    }

    .menu-item {
        position: relative;

        .current {
            color: white;
            font-weight: bold;
            font-style: italic;
        }

        a {
            padding: 15px;
            font-weight: 500;
            font-size: 1.1em;
            display: block;
            transition: all 250ms ease-in-out;
            position: relative;
            @include linkInherit;

            &:before {
                content: "";
                width: 0;
                height: 3px;
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:hover {
                color: white;

                &:before {
                    animation-duration: 500ms;
                    animation-name: menuBorderWidth;
                    width: 100%;
                }
            }
        }

    }

    .menu-children {
        background-color: whitesmoke;
        border-bottom: 1px solid $color-1;
    }

    .menu-list-children {
        height: 0;
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        transition: height 300ms ease-in-out;

        &.active {
            height: $height-submenu;
        }
    }

    .menu-item-children {
        a {
            padding: 15px;
            font-weight: 400;
            display: block;
            transition: all 250ms;
            position: relative;
            @include linkInherit;
            color: $color-1;
        }
    }

    @include mobile {
        .menu-list {
            align-items: stretch;
            flex-wrap: wrap;
        }

        .menu-item {
            width: calc(100% / 3);

            a {
                height: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: -1px;
            }
        }

        .menu-children {
            .container {
                padding: 0;
            }
        }

        .menu-list-children {
            flex-wrap: wrap;
        }

        .menu-item-children {
            width: calc(100% / 3);

            a {
                text-align: center;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@keyframes menuBorderWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}