.menu-nav {
    background-color: $color-1;

    .menu-nav-container {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-wrap: wrap;
        }
    }

    .menu-list {
        margin: -1px -15px 0 -15px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: $color-white;

        @include mobile {
            border-top: thin solid $body-bg;
            width: calc(100% + 30px);
            order: 2;
        }
    }

    .menu-item {
        position: relative;

        a {
            //padding: 20px 15px;
            padding: 15px;
            font-weight: 400;
            display: block;
            transition: all 250ms ease-in-out;
            position: relative;
            @include linkInherit;

            &:before {
                content: "";
                width: 0;
                height: 2px;
                background-color: $text-color;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:hover {
                color: $text-color;

                &:before {
                    animation-duration: 500ms;
                    animation-name: menuBorderWidth;
                    width: 100%;
                }
            }
        }

        //&.active {
        //	&:after {
        //		content: '';
        //		position: absolute;
        //		bottom: -15px;
        //		left: 50%;
        //		margin-left: -15px;
        //		width: 0;
        //		height: 0;
        //		border-style: solid;
        //		border-width: 15px 15px 0 15px;
        //		border-color: $color-1 transparent transparent transparent;
        //	}
        //}
    }

    .menu-children {
        background-color: $color-white;
        border-bottom: 1px solid $color-1;
    }

    .menu-list-children {
        height: 0;
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        transition: height 300ms ease-in-out;

        &.active {
            height: $height-submenu;
        }
    }

    .menu-item-children {
        a {
            //padding: 20px 15px;
            padding: 15px;
            font-weight: 400;
            display: block;
            transition: all 250ms;
            position: relative;
            @include linkInherit;
            color: $color-1;
        }
    }

    .search-wrapper {
        margin-right: -15px;
        border-left: thin solid $color-white;
        border-right: thin solid $color-white;

        @include mobile {
            margin: 0;
            width: 100%;
            border: none;
            padding: 10px 0;
        }

        form,
        .search-container__form {
            height: 100%;
        }

        .search-container__form {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        input[type="text"] {
            padding: 10px 15px;
            border: none;
            background: transparent;
            color: $color-white;
            width: 100%;

            &::-moz-placeholder {
                color: $color-white;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: $color-white;
            }

            &::-webkit-input-placeholder {
                color: $color-white;
            }
        }

        button[type="submit"] {
            background: transparent;
            border: none;
            color: $color-white;
            fill: $color-white;
            vertical-align: middle;
            padding: 5px 15px 0;

            svg {
                width: 15px;
                height: 15px;
                color: inherit;
            }
        }
    }

    @include mobile {
        .menu-list {
            align-items: stretch;
            flex-wrap: wrap;
        }

        .menu-item {
            width: calc(100% / 3);

            a {
                height: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-top: -1px;
            }
        }

        .menu-children {
            .container {
                padding: 0;
            }
        }

        .menu-list-children {
            flex-wrap: wrap;
        }

        .menu-item-children {
            width: calc(100% / 3);

            a {
                text-align: center;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@keyframes menuBorderWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}