.selectric-wrapper {
    .selectric {
        .label {
            color: lighten($text-color, 30%);
            font-weight: 500;

            .selected {
                color: $text-color;
            }
        }
    }
}

.selectric {
    border-color: $page-header-border-color;
}

.selectric-items {
    li {
        &:hover {
            background: $color-9;
            color: $color-white;
        }
    }
}