textarea {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	min-height: 70px;
}

.input-group.date {
	input {
		cursor: pointer;
	}
}

.filters-table {
	margin-bottom: 30px;

	.form-group {
		@include make-lg-column(4);
	}
}

table {
	.col-actions {
		a {
			margin-left: 5px;
		}
	}

	.item-of-the-week {
		td {
			background-color: $color-green-pastel;

			a {
				color: $text-color;
			}
		}
	}
}

mark,
.mark {
	background-color: $color-highlighting;
}