body {
    font-weight: 300;
}

.main-wrapper {
    background-color: $color-white;
    min-height: 100vh;
}

.count-dispositifs-wrapper {
    text-align: center;
    background-color: $color-3;
    padding: 30px 15px;
    color: $color-white;
    margin: 0 -15px;

    .count-dispositifs {
        font-size: 1.2em;
        margin-bottom: 0;

        strong {
            font-weight: 700;
            font-size: 1.5em;
            color: $color-4;
        }
    }

    //.count-dispositifs {
    //	font-size: 1.7em;
    //	line-height: 1;
    //	margin-bottom: 0;
    //	text-transform: uppercase;
    //
    //	strong {
    //		font-weight: 700;
    //		font-size: 1.5em;
    //		color: $color-1;
    //	}
    //}
}

.page-content {
    padding: 0 15px;

    .content {
        margin-top: 30px;

        &.flex {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .flex-item {
                width: 50%;

                @include tablet {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }

    @include mobile {
        padding: 0;
    }
}

.page-simple {
    margin-bottom: 30px;
}

.page-team {
    h3 {
        margin-bottom: 20px;
    }

    .team-item {
        p {
            margin-bottom: 5px;
        }
    }
}

.page-header {
    &.no-bottom {
        margin-bottom: 0;
    }
}

.flex {
    display: flex;
    align-items: center;
    margin: 30px 0;

    .flex-item {
        margin-right: 40px;
    }

    img {
        display: block;
    }

    @include mobile {
        display: block;

        .flex-item {
            margin: 15px 0;
        }

        img {
            margin: 0 auto;
        }
    }
}

input {
    &:hover,
    &:focus {
        outline: 0;
        border: 1px solid $color-4;
    }
}

a {
    color: $color-9;

    &:hover,
    &:focus {
        color: $color-2;
    }
}

mark,
.mark {
    background-color: $color-9;
    color: $color-white;
}

.page-error {
    text-align: center;
    margin: 100px 0;
}

::-webkit-input-placeholder {
    color: lighten($text-color, 30%);
}

:-moz-placeholder {
    color: lighten($text-color, 30%);
}

::-moz-placeholder {
    color: lighten($text-color, 30%);
}

:-ms-input-placeholder {
    color: lighten($text-color, 30%);
}