body {
	font-weight: 300;
}


.main-wrapper {
	background-color: $color-white;
	min-height: 100vh;
}

.count-dispositifs-wrapper {
	text-align: center;
	background-color: $color-3;
	padding: 30px 15px;
	color: $color-white;
	margin: 0 -15px;

	.count-dispositifs {
		font-size: 1.2em;
		margin-bottom: 0;

		strong {
			font-weight: 700;
			font-size: 1.5em;
			color: $color-1;
		}
	}

	//.count-dispositifs {
	//	font-size: 1.7em;
	//	line-height: 1;
	//	margin-bottom: 0;
	//	text-transform: uppercase;
	//
	//	strong {
	//		font-weight: 700;
	//		font-size: 1.5em;
	//		color: $color-1;
	//	}
	//}
}

.page-content {
	padding: 0 15px;

	.content {
		margin-top: 30px;
	}
}