// Brands
//$brand-primary: #0c3b65;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;

// Colors
//$color-1: #49D5AB;
//$color-2: #636651;
//$color-3: #B0B49E;
//$color-4: #5A4766;
//$color-5: #AB9DB3;

//$color-1: #5CDB95;
$color-1: #96c5a4;
$color-2: #05386B;
$color-3: #379683;
$color-4: #8EE4AF;
//$color-5: #EDF5E1;
$color-5: #f5f4ef;
$color-6: #ffb347;
$color-7: #ff392f;
$color-8: #2EE9FF;
$color-9: #5873b3;

$color-gray-1: #F5F5F5;

$color-white: #FFFFFF;
$text-color: #27282d;

// Body
//$body-bg: #efefef;
$body-bg: $color-5;
$state-warning-bg: $color-5;

// Borders
$front-border-color: darken($body-bg, 10%);
$list-group-border: $front-border-color;
$navbar-default-border: $front-border-color;
$panel-default-border: $front-border-color;
$panel-inner-border: $front-border-color;
$page-header-border-color: lighten($color-3, 50%);

// Headings
$headings-font-family: "Roboto Condensed", sans-serif;
$headings-font-weight: 600;

// Typography
$icon-font-path: "../fonts/vendor/bootstrap-sass/bootstrap/";
$fa-font-path: "../fonts/vendor/font-awesome/";
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($color-1, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Menu
//$height-submenu: 60px;
$height-submenu: 50px;

// Selector
$selectric-main-color: $color-gray-1; // Color used in border
$selectric-secondary-color: $selectric-main-color; // Color used in button
$selectric-text-color: $text-color; // Color used in label
$selectric-bg-color: $color-white; // Background color
$selectric-btn-bg-color: $selectric-bg-color; // Button background color
$selectric-height: 40px; // Outer height
$selectric-spacing: 10px; // Label left padding
$selectric-border-width: 1px; // Outer border width
$selectric-border-radius: 0px; // Border radius
$selectric-inner-height: $selectric-height - ($selectric-border-width * 2); // Inner height
$selectric-font-size: $font-size-base; // Font size